.hospitals {
    /* apply padding within */
    padding: 1rem 1rem;
    border: 1px solid #ccc;
}
.hospital {
    margin-bottom: 20px;
    outline: 2px solid #ccc;
    border-radius: 5px;
    /* add shadow */
    box-shadow: 4px 4px 2px #ccc;
    transition: all 0.5s ease;
}
/* the first hospital class should should have margin top of 10px */
.hospital:first-child {
    margin-top: 10px;
}
/* Add hover animations on hospital divs */
.hospital:hover {
    background-color: #eee;
    cursor: pointer;
    transform: translate(0px, -5px);
    transition: all 0.5s linear;
}